<div class="row">
	<div class="col-xs-6">
		<h2>Manager: <a href="/{{data.manager.objectId}}">{{data.manager.displayName}}</a></h2>
		<h2>Employee: {{data.user.displayName}}</h2>
		<h2>Direct Reports: 
			{{#each data.directReports.value}}
			<span><a href="/{{objectId}}">{{displayName}}</a>{{#unless @last}}, {{/unless}}</span>
			{{/each}}
		</h2>
	</div>
	<div class="col-xs-6">
		<h2>{{data.user.displayName}}'s Files</h2>
		<ul>
			{{#each data.files.value}}
			<li>{{name}}</li>
			{{/each}}
		</ul>
	</div>
</div>